In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandasql as pds

%matplotlib inline
file1 = 'https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv'
df=pd.read_csv(file1)

file2= 'https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv'
df1=pd.read_csv(file2)

df1.head(2)
df.head(2)

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN

In [9]:
# Problem Statement 1  - Get Metadata
df.info()  #data-text.csv
df1.info()  #berlin_weather_oldest.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4656 entries, 0 to 4655
Data columns (total 12 columns):
Indicator                  4656 non-null object
PUBLISH STATES             4656 non-null object
Year                       4656 non-null int64
WHO region                 4656 non-null object
World Bank income group    4656 non-null object
Country                    4656 non-null object
Sex                        4656 non-null object
Display Value              4656 non-null int64
Numeric                    4656 non-null float64
Low                        0 non-null float64
High                       0 non-null float64
Comments                   0 non-null float64
dtypes: float64(4), int64(2), object(6)
memory usage: 436.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117208 entries, 0 to 117207
Data columns (total 21 columns):
STATION         117208 non-null object
STATION_NAME    117208 non-null object
DATE            117208 non-null int64
PRCP            117208 non-null int64
SNWD            117208 non-null int64
SNOW            117208 non-null int64
TMAX            117208 non-null int64
TMIN            117208 non-null int64
WDFG            117208 non-null int64
PGTM            117208 non-null int64
WSFG            117208 non-null int64
WT09            117208 non-null int64
WT07            117208 non-null int64
WT01            117208 non-null int64
WT06            117208 non-null int64
WT05            117208 non-null int64
WT04            117208 non-null int64
WT16            117208 non-null int64
WT08            117208 non-null int64
WT18            117208 non-null int64
WT03            117208 non-null int64
dtypes: int64(19), object(2)
memory usage: 18.8+ MB

In [10]:
# Problem statement 2  - Get row names
df.columns.values
df1.columns.values

array(['STATION', 'STATION_NAME', 'DATE', 'PRCP', 'SNWD', 'SNOW', 'TMAX',
       'TMIN', 'WDFG', 'PGTM', 'WSFG', 'WT09', 'WT07', 'WT01', 'WT06',
       'WT05', 'WT04', 'WT16', 'WT08', 'WT18', 'WT03'], dtype=object)

In [11]:
# Problem statement 3  - Change column name for display only
df.rename(columns={'Indicator': 'Indicator_ID'})

,Indicator_ID,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [12]:
# Problem statement 4  - Change column name permanently
df.rename(columns={'Indicator': 'Indicator_ID'}, inplace=True)
df

,Indicator_ID,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [13]:
# Problem statement 5  - Change multiple column names permanently
df1.rename(columns={'STATION': 'STATION_ID', 'STATION_NAME':'STATION_DESC','DATE':'YYYYMMDD'}, inplace=True)
df1

,STATION_ID,STATION_DESC,YYYYMMDD,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310103,-9999,-9999,-9999,28,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310105,13,-9999,-9999,39,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310106,-9999,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310107,10,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
6,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310108,13,-9999,-9999,11,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
7,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310109,10,-9999,-9999,-22,-61,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
8,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310110,-9999,-9999,-9999,0,-39,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
9,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310112,-9999,-9999,-9999,22,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
10,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310113,13,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
11,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310114,15,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
12,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310115,13,-9999,-9999,-11,-72,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
13,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310116,150,-9999,-9999,50,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
14,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310117,79,-9999,-9999,39,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
15,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310119,-9999,-9999,-9999,22,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
16,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310120,-9999,-9999,-9999,22,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
17,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310121,10,-9999,-9999,0,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
18,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310122,-9999,-9999,-9999,-22,-61,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
19,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310123,-9999,-9999,-9999,61,-39,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
20,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310124,71,-9999,-9999,89,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
21,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310126,-9999,-9999,-9999,39,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310127,-9999,-9999,-9999,39,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
23,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310128,-9999,-9999,-9999,39,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
24,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310129,56,-9999,-9999,11,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
25,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310130,-9999,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
26,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310131,15,-9999,-9999,0,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
27,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310201,13,-9999,-9999,11,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
28,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310202,-9999,-9999,-9999,-11,-50,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
29,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310203,13,-9999,-9999,-11,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117178,GHCND:GMM00010385,SCHONEFELD GM,19921202,0,-9999,-9999,75,17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117179,GHCND:GMM00010385,SCHONEFELD GM,19921203,48,-9999,-9999,120,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117180,GHCND:GMM00010385,SCHONEFELD GM,19921204,3,-9999,-9999,72,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117181,GHCND:GMM00010385,SCHONEFELD GM,19921205,48,-9999,-9999,77,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117182,GHCND:GMM00010385,SCHONEFELD GM,19921206,0,-9999,-9999,34,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117183,GHCND:GMM00010385,SCHONEFELD GM,19921207,0,-9999,-9999,30,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117184,GHCND:GMM00010385,SCHONEFELD GM,19921208,0,-9999,-9999,33,10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117185,GHCND:GMM00010385,SCHONEFELD GM,19921209,0,-9999,-9999,-9999,19,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117186,GHCND:GMM00010385,SCHONEFELD GM,19921210,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117187,GHCND:GMM00010385,SCHONEFELD GM,19921211,0,-9999,-9999,36,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117188,GHCND:GMM00010385,SCHONEFELD GM,19921212,117,-9999,-9999,53,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117189,GHCND:GMM00010385,SCHONEFELD GM,19921213,28,-9999,-9999,50,14,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117190,GHCND:GMM00010385,SCHONEFELD GM,19921214,66,-9999,-9999,-9999,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117191,GHCND:GMM00010385,SCHONEFELD GM,19921215,23,-9999,-9999,83,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117192,GHCND:GMM00010385,SCHONEFELD GM,19921216,0,-9999,-9999,42,-20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117193,GHCND:GMM00010385,SCHONEFELD GM,19921217,0,-9999,-9999,34,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117194,GHCND:GMM00010385,SCHONEFELD GM,19921218,0,-9999,-9999,24,-30,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117195,GHCND:GMM00010385,SCHONEFELD GM,19921219,0,-9999,-9999,40,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117196,GHCND:GMM00010385,SCHONEFELD GM,19921220,66,-9999,-9999,34,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117197,GHCND:GMM00010385,SCHONEFELD GM,19921221,142,10,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117198,GHCND:GMM00010385,SCHONEFELD GM,19921222,0,-9999,-9999,13,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117199,GHCND:GMM00010385,SCHONEFELD GM,19921223,0,-9999,-9999,-20,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117200,GHCND:GMM00010385,SCHONEFELD GM,19921224,0,-9999,-9999,-26,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117201,GHCND:GMM00010385,SCHONEFELD GM,19921225,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117202,GHCND:GMM00010385,SCHONEFELD GM,19921226,0,-9999,-9999,-36,-120,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117203,GHCND:GMM00010385,SCHONEFELD GM,19921227,0,-9999,-9999,10,-95,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117204,GHCND:GMM00010385,SCHONEFELD GM,19921228,0,-9999,-9999,-16,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117205,GHCND:GMM00010385,SCHONEFELD GM,19921229,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117206,GHCND:GMM00010385,SCHONEFELD GM,19921230,0,-9999,-9999,-9999,-37,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117207,GHCND:GMM00010385,SCHONEFELD GM,19921231,3,-9999,-9999,-7,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [14]:
# Problem statement 6  - Arrange values of a particular column in ascending order
df.sort_values(['Year'], ascending=True)

,Indicator_ID,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1270,Life expectancy at birth (years),Published,1990,Europe,High-income,Germany,Male,72,72.0,NaN,NaN,NaN
3193,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,65,65.0,NaN,NaN,NaN
3194,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,68,68.0,NaN,NaN,NaN
3197,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,15,15.0,NaN,NaN,NaN
1264,Life expectancy at birth (years),Published,1990,Europe,High-income,Cyprus,Both sexes,76,76.0,NaN,NaN,NaN
3199,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,17,17.0,NaN,NaN,NaN
1262,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,17,17.0,NaN,NaN,NaN
1259,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,67,67.0,NaN,NaN,NaN
3203,Life expectancy at age 60 (years),Published,1990,South-East Asia,Lower-middle-income,Maldives,Female,12,12.0,NaN,NaN,NaN
1273,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Denmark,Both sexes,20,20.0,NaN,NaN,NaN
3204,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Marshall Islands,Female,65,65.0,NaN,NaN,NaN
1253,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Both sexes,73,73.0,NaN,NaN,NaN
1247,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Bahamas,Male,17,17.0,NaN,NaN,NaN
3219,Life expectancy at age 60 (years),Published,1990,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,16,16.0,NaN,NaN,NaN
3226,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Bulgaria,Both sexes,71,71.0,NaN,NaN,NaN
1240,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Belgium,Female,23,23.0,NaN,NaN,NaN
1239,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Both sexes,76,76.0,NaN,NaN,NaN
1238,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Female,79,79.0,NaN,NaN,NaN
1237,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Both sexes,76,76.0,NaN,NaN,NaN
1236,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Male,72,72.0,NaN,NaN,NaN
3207,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Mongolia,Female,64,64.0,NaN,NaN,NaN
3231,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Belarus,Female,76,76.0,NaN,NaN,NaN
3188,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Lesotho,Female,17,17.0,NaN,NaN,NaN
1277,Life expectancy at birth (years),Published,1990,Europe,High-income,Estonia,Both sexes,70,70.0,NaN,NaN,NaN
1302,Life expectancy at birth (years),Published,1990,Europe,High-income,Hungary,Male,65,65.0,NaN,NaN,NaN
3158,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Georgia,Male,67,67.0,NaN,NaN,NaN
1300,Life expectancy at birth (years),Published,1990,Europe,High-income,Croatia,Male,69,69.0,NaN,NaN,NaN
3159,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Georgia,Both sexes,19,19.0,NaN,NaN,NaN
3160,Life expectancy at age 60 (years),Published,1990,Americas,Lower-middle-income,Guatemala,Female,19,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3175,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,19,19.0,NaN,NaN,NaN
3174,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Female,76,76.0,NaN,NaN,NaN
1285,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Both sexes,82,82.0,NaN,NaN,NaN
1286,Life expectancy at age 60 (years),Published,2012,Europe,High-income,France,Both sexes,25,25.0,NaN,NaN,NaN
3171,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,72,72.0,NaN,NaN,NaN
1288,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Female,25,25.0,NaN,NaN,NaN
1290,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Both sexes,24,24.0,NaN,NaN,NaN
1292,Life expectancy at birth (years),Published,2012,Africa,High-income,Equatorial Guinea,Female,57,57.0,NaN,NaN,NaN
3166,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Honduras,Male,21,21.0,NaN,NaN,NaN
3165,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Honduras,Both sexes,74,74.0,NaN,NaN,NaN
3163,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Guyana,Male,13,13.0,NaN,NaN,NaN
3162,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Guyana,Female,67,67.0,NaN,NaN,NaN
1301,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Croatia,Both sexes,21,21.0,NaN,NaN,NaN
3137,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cameroon,Male,55,55.0,NaN,NaN,NaN
1303,Life expectancy at birth (years),Published,2012,Europe,High-income,Hungary,Both sexes,75,75.0,NaN,NaN,NaN
3155,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,68,68.0,NaN,NaN,NaN
3154,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Egypt,Male,16,16.0,NaN,NaN,NaN
1304,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Hungary,Both sexes,20,20.0,NaN,NaN,NaN
1306,Life expectancy at birth (years),Published,2012,Europe,High-income,Ireland,Female,83,83.0,NaN,NaN,NaN
3150,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Ecuador,Male,21,21.0,NaN,NaN,NaN
3148,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Ecuador,Female,78,78.0,NaN,NaN,NaN
3147,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,17,17.0,NaN,NaN,NaN
3146,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Both sexes,61,61.0,NaN,NaN,NaN
3145,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,63,63.0,NaN,NaN,NaN
1309,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Ireland,Female,25,25.0,NaN,NaN,NaN
1316,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Both sexes,83,83.0,NaN,NaN,NaN
3141,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cabo Verde,Both sexes,74,74.0,NaN,NaN,NaN
3139,Life expectancy at age 60 (years),Published,2012,Africa,Lower-middle-income,Cameroon,Female,17,17.0,NaN,NaN,NaN
3156,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,16,16.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [15]:
# Problem statement 7  - Arrange multiple column values in ascending order
df.sort_values(['Indicator_ID','Display Value','Year'], ascending=True)

,Indicator_ID,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
2388,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Sierra Leone,Male,33,33.0,NaN,NaN,NaN
3847,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Sierra Leone,Female,33,33.0,NaN,NaN,NaN
3848,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Sierra Leone,Both sexes,33,33.0,NaN,NaN,NaN
3413,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Eritrea,Male,34,34.0,NaN,NaN,NaN
3885,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Male,35,35.0,NaN,NaN,NaN
2797,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,36,36.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
2426,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,37,37.0,NaN,NaN,NaN
3544,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Female,37,37.0,NaN,NaN,NaN
3886,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,37,37.0,NaN,NaN,NaN
2246,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Male,38,38.0,NaN,NaN,NaN
2356,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Malawi,Female,38,38.0,NaN,NaN,NaN
2730,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Malawi,Both sexes,38,38.0,NaN,NaN,NaN
4089,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Central African Republic,Male,38,38.0,NaN,NaN,NaN
4090,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Central African Republic,Both sexes,38,38.0,NaN,NaN,NaN
4251,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Male,38,38.0,NaN,NaN,NaN
2402,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Chad,Male,39,39.0,NaN,NaN,NaN
3364,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Both sexes,39,39.0,NaN,NaN,NaN
3810,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Malawi,Male,39,39.0,NaN,NaN,NaN
3875,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Both sexes,39,39.0,NaN,NaN,NaN
4482,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Central African Republic,Female,39,39.0,NaN,NaN,NaN
4511,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Eritrea,Both sexes,39,39.0,NaN,NaN,NaN
4217,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Sierra Leone,Male,39,39.0,NaN,NaN,NaN
4218,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Sierra Leone,Both sexes,39,39.0,NaN,NaN,NaN
4619,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Sierra Leone,Female,39,39.0,NaN,NaN,NaN
2247,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Female,40,40.0,NaN,NaN,NaN
2350,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Mozambique,Male,40,40.0,NaN,NaN,NaN
2403,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Chad,Both sexes,40,40.0,NaN,NaN,NaN
2612,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Burundi,Male,40,40.0,NaN,NaN,NaN
2752,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Rwanda,Both sexes,40,40.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2840,Life expectancy at birth (years),Published,2012,Europe,High-income,Germany,Female,83,83.0,NaN,NaN,NaN
2915,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Nauru,Female,83,83.0,NaN,NaN,NaN
2935,Life expectancy at birth (years),Published,2012,Europe,High-income,San Marino,Both sexes,83,83.0,NaN,NaN,NaN
3241,Life expectancy at birth (years),Published,2012,Americas,Upper-middle-income,Chile,Female,83,83.0,NaN,NaN,NaN
3247,Life expectancy at birth (years),Published,2012,Americas,Upper-middle-income,Colombia,Female,83,83.0,NaN,NaN,NaN
1746,Life expectancy at birth (years),Published,2000,Europe,High-income,Monaco,Female,84,84.0,NaN,NaN,NaN
79,Life expectancy at birth (years),Published,2012,Europe,High-income,Iceland,Female,84,84.0,NaN,NaN,NaN
446,Life expectancy at birth (years),Published,2012,Americas,High-income,Canada,Female,84,84.0,NaN,NaN,NaN
455,Life expectancy at birth (years),Published,2012,Europe,High-income,Cyprus,Female,84,84.0,NaN,NaN,NaN
499,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Japan,Both sexes,84,84.0,NaN,NaN,NaN
523,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,New Zealand,Female,84,84.0,NaN,NaN,NaN
544,Life expectancy at birth (years),Published,2012,Europe,High-income,Sweden,Female,84,84.0,NaN,NaN,NaN
900,Life expectancy at birth (years),Published,2012,Europe,High-income,Israel,Female,84,84.0,NaN,NaN,NaN
946,Life expectancy at birth (years),Published,2012,Europe,High-income,San Marino,Female,84,84.0,NaN,NaN,NaN
1742,Life expectancy at birth (years),Published,2012,Europe,High-income,Luxembourg,Female,84,84.0,NaN,NaN,NaN
1765,Life expectancy at birth (years),Published,2012,Europe,High-income,Portugal,Female,84,84.0,NaN,NaN,NaN
2852,Life expectancy at birth (years),Published,2012,Europe,High-income,Finland,Female,84,84.0,NaN,NaN,NaN
2911,Life expectancy at birth (years),Published,2012,Europe,High-income,Norway,Female,84,84.0,NaN,NaN,NaN
130,Life expectancy at birth (years),Published,2000,Europe,High-income,San Marino,Female,85,85.0,NaN,NaN,NaN
904,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Japan,Female,85,85.0,NaN,NaN,NaN
848,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Female,85,85.0,NaN,NaN,NaN
875,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Female,85,85.0,NaN,NaN,NaN
902,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Female,85,85.0,NaN,NaN,NaN
1274,Life expectancy at birth (years),Published,2012,Europe,High-income,Spain,Female,85,85.0,NaN,NaN,NaN
1323,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Republic of Korea,Female,85,85.0,NaN,NaN,NaN
1369,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Singapore,Female,85,85.0,NaN,NaN,NaN
2807,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Female,85,85.0,NaN,NaN,NaN
1227,Life expectancy at birth (years),Published,2012,Europe,High-income,Andorra,Female,86,86.0,NaN,NaN,NaN
1334,Life expectancy at birth (years),Published,2012,Europe,High-income,Monaco,Female,86,86.0,NaN,NaN,NaN
1320,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Japan,Female,87,87.0,NaN,NaN,NaN

In [16]:
# Problem statement 8  - Make country as the first column of the dataframe
columnlist = df.columns.tolist()
countryIndex = columnlist.index("Country")
columnlist.pop(countryIndex)
columnlist.insert(0, 'Country')
df = df[columnlist]  #displaying with "Country" as the first column
df

#Additional mentor given exercises
#Distribution of categories like (Country, Published, Year) (Distribution of each category)
CountryD = df.groupby(['Country'])['Country'].count().reset_index(name='Countrydistribution')
CountryD['Countrydistribution'] = CountryD['Countrydistribution'] / CountryD['Countrydistribution'].sum()
CountryD

YearD = df.groupby(['Year'])['Year'].count().reset_index(name='Yeardistribution')
YearD['Yeardistribution'] = YearD['Yeardistribution'] / YearD['Yeardistribution'].sum()
YearD

PublishedD = df.groupby(['PUBLISH STATES'])['PUBLISH STATES'].count().reset_index(name='Yeardistribution')
PublishedD['Yeardistribution'] = PublishedD['Yeardistribution'] / PublishedD['Yeardistribution'].sum()
PublishedD

#Distribution of two categories - (Year Vs Country),(Year Vs Status),(Year Vs Numeric)
CountryYearD = df.groupby(['Country','Year'])['Country'].count().reset_index(name='Countrydistribution')
CountryYearD['Countrydistribution'] = CountryYearD['Countrydistribution'] / CountryYearD['Countrydistribution'].sum()
CountryYearD

StatusYearD = df.groupby(['Year', 'PUBLISH STATES'])['Year'].count().reset_index(name='Yeardistribution')
StatusYearD['Yeardistribution'] = StatusYearD['Yeardistribution'] / StatusYearD['Yeardistribution'].sum()
StatusYearD

NumericYearD = df.groupby(['Year', 'Numeric'])['Year'].count().reset_index(name='Yeardistribution')
NumericYearD['Yeardistribution'] = NumericYearD['Yeardistribution'] / NumericYearD['Yeardistribution'].sum()
NumericYearD

     Year  Numeric  Yeardistribution
0    1990     11.0          0.000859
1    1990     12.0          0.000644
2    1990     13.0          0.002363
3    1990     14.0          0.009450
4    1990     15.0          0.016753
5    1990     16.0          0.018900
6    1990     17.0          0.016753
7    1990     18.0          0.016753
8    1990     19.0          0.013101
9    1990     20.0          0.011168
10   1990     21.0          0.007088
11   1990     22.0          0.006229
12   1990     23.0          0.002792
13   1990     24.0          0.001289
14   1990     25.0          0.000859
15   1990     38.0          0.000644
16   1990     39.0          0.000215
17   1990     40.0          0.000215
18   1990     41.0          0.000644
19   1990     42.0          0.000644
20   1990     43.0          0.001718
21   1990     44.0          0.000430
22   1990     45.0          0.001503
23   1990     46.0          0.002363
24   1990     47.0          0.001503
25   1990     48.0          0.002148
26   1990     49.0          0.001718
27   1990     50.0          0.002148
28   1990     51.0          0.002148
29   1990     52.0          0.000859
..    ...      ...               ...
166  2012     58.0          0.004725
167  2012     59.0          0.006873
168  2012     60.0          0.006658
169  2012     61.0          0.007732
170  2012     62.0          0.007088
171  2012     63.0          0.010739
172  2012     64.0          0.009450
173  2012     65.0          0.009021
174  2012     66.0          0.012672
175  2012     67.0          0.008376
176  2012     68.0          0.009021
177  2012     69.0          0.009450
178  2012     70.0          0.007947
179  2012     71.0          0.009665
180  2012     72.0          0.009665
181  2012     73.0          0.009235
182  2012     74.0          0.007732
183  2012     75.0          0.007088
184  2012     76.0          0.006014
185  2012     77.0          0.006014
186  2012     78.0          0.008376
187  2012     79.0          0.004940
188  2012     80.0          0.004940
189  2012     81.0          0.004725
190  2012     82.0          0.003007
191  2012     83.0          0.003866
192  2012     84.0          0.002577
193  2012     85.0          0.001503
194  2012     86.0          0.000430
195  2012     87.0          0.000215

[196 rows x 3 columns]

In [17]:
# Problem Statement 9 - Get the column array using a variable
listA = df['Country'].values
listA

array(['Andorra', 'Andorra', 'Andorra', ..., 'South Africa', 'Zambia',
       'Zimbabwe'], dtype=object)

In [19]:
# Problem Statement 10 - Get the subset rows 11, 24, 37
df.iloc[[11, 24, 37]]

,Country,Indicator_ID,PUBLISH STATES,Year,WHO region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
11,Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
37,Cyprus,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,26,26.0,NaN,NaN,NaN

In [20]:
# Problem Statement 11 - Get the subset rows excluding 5, 12, 23, and 56
FilterData = df.index.isin([5, 12, 23, 56])
df.iloc[~FilterData]

,Country,Indicator_ID,PUBLISH STATES,Year,WHO region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
6,Antigua and Barbuda,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Male,17,17.0,NaN,NaN,NaN
7,Antigua and Barbuda,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,22,22.0,NaN,NaN,NaN
8,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Male,81,81.0,NaN,NaN,NaN
9,Australia,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Both sexes,80,80.0,NaN,NaN,NaN
10,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,83,83.0,NaN,NaN,NaN
11,Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
13,Belgium,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
14,Bahrain,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Male,73,73.0,NaN,NaN,NaN
15,Bahrain,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Female,74,74.0,NaN,NaN,NaN
16,Bahrain,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Male,17,17.0,NaN,NaN,NaN
17,Bahamas,Life expectancy at birth (years),Published,2012,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
18,Bahamas,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Both sexes,21,21.0,NaN,NaN,NaN
19,Barbados,Life expectancy at birth (years),Published,1990,Americas,High-income,Male,71,71.0,NaN,NaN,NaN
20,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Female,25,25.0,NaN,NaN,NaN
21,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,23,23.0,NaN,NaN,NaN
22,Brunei Darussalam,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Female,20,20.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
25,Canada,Life expectancy at birth (years),Published,2000,Americas,High-income,Female,82,82.0,NaN,NaN,NaN
26,Canada,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Male,21,21.0,NaN,NaN,NaN
27,Canada,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Female,24,24.0,NaN,NaN,NaN
28,Switzerland,Life expectancy at birth (years),Published,1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
29,Switzerland,Life expectancy at birth (years),Published,2012,Europe,High-income,Both sexes,83,83.0,NaN,NaN,NaN
30,Switzerland,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
31,Cook Islands,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,76,76.0,NaN,NaN,NaN
32,Cook Islands,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,22,22.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Serbia,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Female,67,67.0,NaN,NaN,NaN
4627,Suriname,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4628,Sweden,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Both sexes,72,72.0,NaN,NaN,NaN
4629,Swaziland,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Female,47,47.0,NaN,NaN,NaN
4630,Seychelles,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,61,61.0,NaN,NaN,NaN
4631,Syrian Arab Republic,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Female,64,64.0,NaN,NaN,NaN
4632,Chad,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,44,44.0,NaN,NaN,NaN
4633,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4634,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Female,65,65.0,NaN,NaN,NaN
4635,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Both sexes,56,56.0,NaN,NaN,NaN
4636,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Female,60,60.0,NaN,NaN,NaN
4637,Tonga,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,61,61.0,NaN,NaN,NaN
4638,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Female,64,64.0,NaN,NaN,NaN
4639,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Both sexes,61,61.0,NaN,NaN,NaN
4640,Tunisia,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Male,63,63.0,NaN,NaN,NaN
4641,Tuvalu,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Male,57,57.0,NaN,NaN,NaN
4642,Uganda,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Female,40,40.0,NaN,NaN,NaN
4643,Ukraine,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Both sexes,60,60.0,NaN,NaN,NaN
4644,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Male,65,65.0,NaN,NaN,NaN
4645,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Female,70,70.0,NaN,NaN,NaN
4646,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
4647,Saint Vincent and the Grenadines,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Both sexes,61,61.0,NaN,NaN,NaN
4648,Venezuela (Bolivarian Republic of),Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4649,Vanuatu,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4650,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Male,62,62.0,NaN,NaN,NaN
4651,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
4653,South Africa,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
4654,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

In [21]:

users = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/users.csv')
sessions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/sessions.csv')
products = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/products.csv')
transactions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/transactions.csv')

users.head()
sessions.head()
products.head()
transactions.head()

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [22]:
# Problem Statement 12. - Join users to transactions, keeping all rows from transactions and only matching rows from users
#                    (left join)

from pandasql import sqldf

pysqldf = lambda statement: sqldf(statement, globals())
new_df = pysqldf("SELECT * from users as u LEFT OUTER JOIN transactions as t ON u.UserId = t.UserId;")
new_df

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,UserID,ProductID,Quantity
0,1,Charles,male,2012-12-21,None,4.0,2012-08-26,1.0,2.0,3.0
1,2,Pedro,male,2010-08-01,2010-08-08,5.0,2013-06-06,2.0,4.0,1.0
2,2,Pedro,male,2010-08-01,2010-08-08,6.0,2013-12-23,2.0,5.0,6.0
3,3,Caroline,female,2012-10-23,2016-06-07,2.0,2011-05-26,3.0,4.0,1.0
4,3,Caroline,female,2012-10-23,2016-06-07,3.0,2011-06-16,3.0,3.0,1.0
5,3,Caroline,female,2012-10-23,2016-06-07,7.0,2013-12-30,3.0,4.0,1.0
6,3,Caroline,female,2012-10-23,2016-06-07,10.0,2016-05-08,3.0,4.0,4.0
7,4,Brielle,female,2013-07-17,None,NaN,None,NaN,NaN,NaN
8,5,Benjamin,male,2010-11-25,None,NaN,None,NaN,NaN,NaN

In [23]:
# Problem Statement 13 -  Which transactions have a UserID not in users?
new_df = pysqldf("SELECT * from transactions as t where userid is null or userid not in (select userid from users as u);")
new_df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              8      2014-04-24     NaN          2         3
2              9      2015-04-24     7.0          4         3

In [24]:
# Problem Statement 14 -Join users to transactions, keeping only rows from transactions and users that
#                       match via UserID (inner join)
new_df = pysqldf("SELECT * from users as u INNER JOIN transactions as t on u.userid = t.userid;")
new_df

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,UserID,ProductID,Quantity
0,1,Charles,male,2012-12-21,None,4,2012-08-26,1.0,2,3
1,2,Pedro,male,2010-08-01,2010-08-08,5,2013-06-06,2.0,4,1
2,2,Pedro,male,2010-08-01,2010-08-08,6,2013-12-23,2.0,5,6
3,3,Caroline,female,2012-10-23,2016-06-07,2,2011-05-26,3.0,4,1
4,3,Caroline,female,2012-10-23,2016-06-07,3,2011-06-16,3.0,3,1
5,3,Caroline,female,2012-10-23,2016-06-07,7,2013-12-30,3.0,4,1
6,3,Caroline,female,2012-10-23,2016-06-07,10,2016-05-08,3.0,4,4

In [25]:
# Problem statment 15. Join users to transactions, displaying all matching rows AND all non-matching rows
#                      (full outer join)
new_df = pysqldf("SELECT * from users,transactions;")
new_df

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,UserID,ProductID,Quantity
0,1,Charles,male,2012-12-21,None,1,2010-08-21,7.0,2,1
1,1,Charles,male,2012-12-21,None,2,2011-05-26,3.0,4,1
2,1,Charles,male,2012-12-21,None,3,2011-06-16,3.0,3,1
3,1,Charles,male,2012-12-21,None,4,2012-08-26,1.0,2,3
4,1,Charles,male,2012-12-21,None,5,2013-06-06,2.0,4,1
5,1,Charles,male,2012-12-21,None,6,2013-12-23,2.0,5,6
6,1,Charles,male,2012-12-21,None,7,2013-12-30,3.0,4,1
7,1,Charles,male,2012-12-21,None,8,2014-04-24,NaN,2,3
8,1,Charles,male,2012-12-21,None,9,2015-04-24,7.0,4,3
9,1,Charles,male,2012-12-21,None,10,2016-05-08,3.0,4,4
10,2,Pedro,male,2010-08-01,2010-08-08,1,2010-08-21,7.0,2,1
11,2,Pedro,male,2010-08-01,2010-08-08,2,2011-05-26,3.0,4,1
12,2,Pedro,male,2010-08-01,2010-08-08,3,2011-06-16,3.0,3,1
13,2,Pedro,male,2010-08-01,2010-08-08,4,2012-08-26,1.0,2,3
14,2,Pedro,male,2010-08-01,2010-08-08,5,2013-06-06,2.0,4,1
15,2,Pedro,male,2010-08-01,2010-08-08,6,2013-12-23,2.0,5,6
16,2,Pedro,male,2010-08-01,2010-08-08,7,2013-12-30,3.0,4,1
17,2,Pedro,male,2010-08-01,2010-08-08,8,2014-04-24,NaN,2,3
18,2,Pedro,male,2010-08-01,2010-08-08,9,2015-04-24,7.0,4,3
19,2,Pedro,male,2010-08-01,2010-08-08,10,2016-05-08,3.0,4,4
20,3,Caroline,female,2012-10-23,2016-06-07,1,2010-08-21,7.0,2,1
21,3,Caroline,female,2012-10-23,2016-06-07,2,2011-05-26,3.0,4,1
22,3,Caroline,female,2012-10-23,2016-06-07,3,2011-06-16,3.0,3,1
23,3,Caroline,female,2012-10-23,2016-06-07,4,2012-08-26,1.0,2,3
24,3,Caroline,female,2012-10-23,2016-06-07,5,2013-06-06,2.0,4,1
25,3,Caroline,female,2012-10-23,2016-06-07,6,2013-12-23,2.0,5,6
26,3,Caroline,female,2012-10-23,2016-06-07,7,2013-12-30,3.0,4,1
27,3,Caroline,female,2012-10-23,2016-06-07,8,2014-04-24,NaN,2,3
28,3,Caroline,female,2012-10-23,2016-06-07,9,2015-04-24,7.0,4,3
29,3,Caroline,female,2012-10-23,2016-06-07,10,2016-05-08,3.0,4,4
30,4,Brielle,female,2013-07-17,None,1,2010-08-21,7.0,2,1
31,4,Brielle,female,2013-07-17,None,2,2011-05-26,3.0,4,1
32,4,Brielle,female,2013-07-17,None,3,2011-06-16,3.0,3,1
33,4,Brielle,female,2013-07-17,None,4,2012-08-26,1.0,2,3
34,4,Brielle,female,2013-07-17,None,5,2013-06-06,2.0,4,1
35,4,Brielle,female,2013-07-17,None,6,2013-12-23,2.0,5,6
36,4,Brielle,female,2013-07-17,None,7,2013-12-30,3.0,4,1
37,4,Brielle,female,2013-07-17,None,8,2014-04-24,NaN,2,3
38,4,Brielle,female,2013-07-17,None,9,2015-04-24,7.0,4,3
39,4,Brielle,female,2013-07-17,None,10,2016-05-08,3.0,4,4
40,5,Benjamin,male,2010-11-25,None,1,2010-08-21,7.0,2,1
41,5,Benjamin,male,2010-11-25,None,2,2011-05-26,3.0,4,1
42,5,Benjamin,male,2010-11-25,None,3,2011-06-16,3.0,3,1
43,5,Benjamin,male,2010-11-25,None,4,2012-08-26,1.0,2,3
44,5,Benjamin,male,2010-11-25,None,5,2013-06-06,2.0,4,1
45,5,Benjamin,male,2010-11-25,None,6,2013-12-23,2.0,5,6
46,5,Benjamin,male,2010-11-25,None,7,2013-12-30,3.0,4,1
47,5,Benjamin,male,2010-11-25,None,8,2014-04-24,NaN,2,3
48,5,Benjamin,male,2010-11-25,None,9,2015-04-24,7.0,4,3
49,5,Benjamin,male,2010-11-25,None,10,2016-05-08,3.0,4,4

In [26]:
# Problem statement 16: Determine which sessions occurred on the same day each user registered
new_df = pysqldf("SELECT u.UserId, u.User, u.Gender, u.registered, u.cancelled, s.sessionid, s.sessiondate from sessions as s inner join users as u group by u.registered;")
new_df

   UserID      User  Gender  Registered   Cancelled  SessionID SessionDate
0       2     Pedro    male  2010-08-01  2010-08-08         10  2016-01-11
1       5  Benjamin    male  2010-11-25        None         10  2016-01-11
2       3  Caroline  female  2012-10-23  2016-06-07         10  2016-01-11
3       1   Charles    male  2012-12-21        None         10  2016-01-11
4       4   Brielle  female  2013-07-17        None         10  2016-01-11

In [27]:
# Problem statement 17: Build a dataset with every possible (UserID, ProductID) pair (cross join)
new_df = pysqldf("SELECT UserId, productid from users,products")
new_df

    UserID  ProductID
0        1          1
1        1          2
2        1          3
3        1          4
4        1          5
5        2          1
6        2          2
7        2          3
8        2          4
9        2          5
10       3          1
11       3          2
12       3          3
13       3          4
14       3          5
15       4          1
16       4          2
17       4          3
18       4          4
19       4          5
20       5          1
21       5          2
22       5          3
23       5          4
24       5          5

In [39]:
# Problem statement 18: Determine how much quantity of each product was purchased by each user
new_df = pysqldf("""
            SELECT u.userid, p.productid, sum(t.quantity) as 'totalquantity' 
            FROM users as u JOIN products as p
                LEFT OUTER JOIN transactions as t on u.userid = t.userid                
            GROUP BY u.userid, p.productid 
            """)
new_df.fillna(0)

    UserID  ProductID  totalquantity
0        1          1            3.0
1        1          2            3.0
2        1          3            3.0
3        1          4            3.0
4        1          5            3.0
5        2          1            7.0
6        2          2            7.0
7        2          3            7.0
8        2          4            7.0
9        2          5            7.0
10       3          1            7.0
11       3          2            7.0
12       3          3            7.0
13       3          4            7.0
14       3          5            7.0
15       4          1            0.0
16       4          2            0.0
17       4          3            0.0
18       4          4            0.0
19       4          5            0.0
20       5          1            0.0
21       5          2            0.0
22       5          3            0.0
23       5          4            0.0
24       5          5            0.0

In [42]:
# Problem statement 19: For each user, get each possible pair of pair transactions (TransactionID1,TransacationID2)
tran_df = pysqldf("""
            SELECT t1.TransactionID as 'TransactionID_x'
                    ,t1.TransactionDate as 'TransactionDate_x'
                    ,t1.UserID as 'UserID_x'
                    ,t1.ProductID as 'ProductID_x'
                    ,t1.Quantity as 'Quantity_x'
                    ,t2.TransactionID as 'TransactionID_y'
                    ,t2.TransactionDate as 'TransactionDate_y'
                    ,t2.UserID as 'UserID_y'
                    ,t2.ProductID as 'ProductID_y'
                    ,t2.Quantity as 'Quantity_y'
            FROM transactions as t1 JOIN transactions as t2 on t1.userid = t2.userid
            """)
tran_df

,TransactionID_x,TransactionDate_x,UserID_x,ProductID_x,Quantity_x,TransactionID_y,TransactionDate_y,UserID_y,ProductID_y,Quantity_y
0,1,2010-08-21,7.0,2,1,1,2010-08-21,7.0,2,1
1,1,2010-08-21,7.0,2,1,9,2015-04-24,7.0,4,3
2,2,2011-05-26,3.0,4,1,2,2011-05-26,3.0,4,1
3,2,2011-05-26,3.0,4,1,3,2011-06-16,3.0,3,1
4,2,2011-05-26,3.0,4,1,7,2013-12-30,3.0,4,1
5,2,2011-05-26,3.0,4,1,10,2016-05-08,3.0,4,4
6,3,2011-06-16,3.0,3,1,2,2011-05-26,3.0,4,1
7,3,2011-06-16,3.0,3,1,3,2011-06-16,3.0,3,1
8,3,2011-06-16,3.0,3,1,7,2013-12-30,3.0,4,1
9,3,2011-06-16,3.0,3,1,10,2016-05-08,3.0,4,4
10,4,2012-08-26,1.0,2,3,4,2012-08-26,1.0,2,3
11,5,2013-06-06,2.0,4,1,5,2013-06-06,2.0,4,1
12,5,2013-06-06,2.0,4,1,6,2013-12-23,2.0,5,6
13,6,2013-12-23,2.0,5,6,5,2013-06-06,2.0,4,1
14,6,2013-12-23,2.0,5,6,6,2013-12-23,2.0,5,6
15,7,2013-12-30,3.0,4,1,2,2011-05-26,3.0,4,1
16,7,2013-12-30,3.0,4,1,3,2011-06-16,3.0,3,1
17,7,2013-12-30,3.0,4,1,7,2013-12-30,3.0,4,1
18,7,2013-12-30,3.0,4,1,10,2016-05-08,3.0,4,4
19,9,2015-04-24,7.0,4,3,1,2010-08-21,7.0,2,1
20,9,2015-04-24,7.0,4,3,9,2015-04-24,7.0,4,3
21,10,2016-05-08,3.0,4,4,2,2011-05-26,3.0,4,1
22,10,2016-05-08,3.0,4,4,3,2011-06-16,3.0,3,1
23,10,2016-05-08,3.0,4,4,7,2013-12-30,3.0,4,1
24,10,2016-05-08,3.0,4,4,10,2016-05-08,3.0,4,4

In [53]:
# Problem Statement 20: Join each user to his/her first occuring transaction in the transactions table
data = pd.merge(users, transactions.groupby('UserID').first().reset_index(), how='left', on='UserID')
data

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,ProductID,Quantity
0,1,Charles,male,2012-12-21,NaN,4.0,2012-08-26,2.0,3.0
1,2,Pedro,male,2010-08-01,2010-08-08,5.0,2013-06-06,4.0,1.0
2,3,Caroline,female,2012-10-23,2016-06-07,2.0,2011-05-26,4.0,1.0
3,4,Brielle,female,2013-07-17,NaN,NaN,NaN,NaN,NaN
4,5,Benjamin,male,2010-11-25,NaN,NaN,NaN,NaN,NaN

In [54]:
# Problem statement 21: Test to see if we can drop columns
my_columns = list(data.columns)
my_columns

['UserID',
 'User',
 'Gender',
 'Registered',
 'Cancelled',
 'TransactionID',
 'TransactionDate',
 'ProductID',
 'Quantity']

In [55]:
list(data.dropna(thresh=int(data.shape[0] * .9), axis=1).columns) #set threshold to drop NAs

['UserID', 'User', 'Gender', 'Registered']

In [57]:
missing_info = list(data.columns[data.isnull().any()])
missing_info

['Cancelled', 'TransactionID', 'TransactionDate', 'ProductID', 'Quantity']

In [59]:
for col in missing_info:
    num_missing = data[data[col].isnull() == True].shape[0]
    print('number missing for column {}: {}'.format(col, num_missing)) #count of missing data

number missing for column Cancelled: 3
number missing for column TransactionID: 2
number missing for column TransactionDate: 2
number missing for column ProductID: 2
number missing for column Quantity: 2

In [60]:
for col in missing_info:
    percent_missing = data[data[col].isnull() == True].shape[0] / data.shape[0]
    print('percent missing for column {}: {}'.format(
        col, percent_missing)) #percentage of missing data

percent missing for column Cancelled: 0.6
percent missing for column TransactionID: 0.4
percent missing for column TransactionDate: 0.4
percent missing for column ProductID: 0.4
percent missing for column Quantity: 0.4